@model List<UIGoodsType>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <a href="@Url.Action("Edit")" class="btn btn-primary pull-right">添加类型</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title mt-0"> 商品类型</h4>
                        <p class="card-category"> 所有添加过的商品类型都会出现在这里</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                    <tr>
                                        <th>商品类型名称</th>
                                        <th>排序</th>
                                        <th>创造时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count >= 0)
                                    {
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>
                                            @item.GoodsType
                                        </td>
                                        <td>
                                            @item.Sort
                                        </td>
                                        <td>
                                            @item.CreateTime
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Edit",new { OID=item.OID})" class="btn btn-primary pull-right">编辑</a>
                                            <a href="@Url.Action("Delete",new { OID=item.OID})" class="btn btn-danger pull-right delete">删除</a>
                                        </td>
                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
