@model UIMenu
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">添加/编辑按钮</h4>
                        <p class="card-category">用于后台管理菜单</p>
                    </div>
                    <div class="card-body">
                        <form action="@Url.Action("Save","Menu")" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">按钮图标</label>
                                        @Html.TextBoxFor(m => m.Icon, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">按钮名称</label>
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">按钮等级</label>
                                        @Html.TextBoxFor(m => m.Layer, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">按钮链接</label>
                                        @Html.TextBoxFor(m => m.Link, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m => m.OID)
                            <button type="submit" class="btn btn-primary pull-right">提交</button>
                            <button type="button" class="btn btn-info pull-right" onclick="javascript:window.history.back(-1);">返回</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>